In [113]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from datetime import datetime

In [2]:
stat_df = pd.read_csv('data/statipy_results.csv')
stat_df.head()

,Unnamed: 0,Track,Explicit,Tpopularity,Artist,Album,Rdate
0,0,Paradise,False,49,Voyage,Paradise,2018-02-14
1,1,Tech Noir,False,56,Gunship,GUNSHIP,2015-07-24
2,2,Yes (Symmetry Remix),False,38,Chromatics,Yes (Love Theme From Lost River),2015-02-03
3,3,Night,False,39,John Carpenter,Lost Themes,2015-02-03
4,4,Depth Charge,False,5,Flume,Skin Companion EP II,2017-02-17

####  Stat_df initial data types

In [4]:
stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 7 columns):
Unnamed: 0     991 non-null int64
Track          991 non-null object
Explicit       991 non-null bool
Tpopularity    991 non-null int64
Artist         991 non-null object
Album          991 non-null object
Rdate          991 non-null object
dtypes: bool(1), int64(2), object(4)
memory usage: 47.5+ KB

### 1. Convert 'Rdate' to date time | stat_df

In [5]:
stat_df['Rdate'] = pd.to_datetime(stat_df['Rdate'])

##### drop second index

In [95]:
statidate_i = stat_df.drop('Unnamed: 0', axis=1)

##### STATIDATE_I = datetime index

In [96]:
statidate_i['Rdate']= pd.DatetimeIndex(statidate_i['Rdate'], freq='infer')

In [97]:
statidate_i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 6 columns):
Track          991 non-null object
Explicit       991 non-null bool
Tpopularity    991 non-null int64
Artist         991 non-null object
Album          991 non-null object
Rdate          991 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(3)
memory usage: 39.8+ KB

In [98]:
statidate_i.head()

,Track,Explicit,Tpopularity,Artist,Album,Rdate
0,Paradise,False,49,Voyage,Paradise,2018-02-14
1,Tech Noir,False,56,Gunship,GUNSHIP,2015-07-24
2,Yes (Symmetry Remix),False,38,Chromatics,Yes (Love Theme From Lost River),2015-02-03
3,Night,False,39,John Carpenter,Lost Themes,2015-02-03
4,Depth Charge,False,5,Flume,Skin Companion EP II,2017-02-17

### 2. add count / frequency columns
artist x track
track x track
release dates x track

##### - Statidate_i

In [99]:
statidate_i['artsongcnt'] = statidate_i.groupby('Artist')['Track'].transform('count')

In [100]:
statidate_i['songfreq'] = statidate_i.groupby('Track')['Track'].transform('count')

In [101]:
statidate_i['datefreq'] = statidate_i.groupby('Rdate')['Track'].transform('count')

### 3. arrange tracks by YEAR (compress release dates)
#### dategroup

In [102]:
dategroup = statidate_i
dategroup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 9 columns):
Track          991 non-null object
Explicit       991 non-null bool
Tpopularity    991 non-null int64
Artist         991 non-null object
Album          991 non-null object
Rdate          991 non-null datetime64[ns]
artsongcnt     991 non-null int64
songfreq       991 non-null int64
datefreq       991 non-null int64
dtypes: bool(1), datetime64[ns](1), int64(4), object(3)
memory usage: 63.0+ KB

In [103]:
dategroup['Rdate'] = pd.DatetimeIndex(dategroup['Rdate']).year

In [104]:
dategroup.head()

,Track,Explicit,Tpopularity,Artist,Album,Rdate,artsongcnt,songfreq,datefreq
0,Paradise,False,49,Voyage,Paradise,2018,1,1,1
1,Tech Noir,False,56,Gunship,GUNSHIP,2015,1,1,1
2,Yes (Symmetry Remix),False,38,Chromatics,Yes (Love Theme From Lost River),2015,1,1,2
3,Night,False,39,John Carpenter,Lost Themes,2015,1,1,2
4,Depth Charge,False,5,Flume,Skin Companion EP II,2017,1,1,1

### 4. Division 1 - Artist by regular datetime
#### art_desc

##### Artists Album(Rdate) avg album data - per datetime['YYYY-MM-DD']
(explicit content, popularity, artsongcnt, songfreq, date freq)

In [80]:
art_desc = statidate_i.groupby(['Artist', 'Rdate'])
art_desc.mean()

                                    Explicit  Tpopularity  artsongcnt  \
Artist                  Rdate
!!!                     2017-03-22       0.0    38.000000         2.0
2Pac                    2014-11-07       1.0    43.000000         1.0
Aaron Copland           1960-01-01       0.0    50.000000         1.0
Adam Joseph             2017-05-03       0.0    40.000000         1.0
Adore Delano            2014-06-03       1.0    49.000000         1.0
Adrianne Lenker         2018-10-05       0.0    58.000000         1.0
Agnes Obel              2013-01-01       0.0    53.000000         1.0
Ah-Mer-Ah-Su            2017-02-26       0.0     5.000000         2.0
Aja                     2017-02-02       0.0    49.000000         5.0
                        2017-04-21       1.0    47.000000         5.0
                        2018-03-01       1.0    45.000000         5.0
                        2018-05-07       1.0    47.000000         5.0
                        2018-10-17       1.0    37.000000         5.0
Al B. Sure!             1988-04-26       0.0    53.000000         1.0
Alabama Shakes          2012-01-01       0.0    52.000000         4.0
                        2015-04-21       0.0    43.333333         4.0
Alaska Thunderfuck      2015-06-23       0.0    46.500000         4.0
                        2016-10-14       1.0    48.000000         4.0
Alban Berg              2012-01-01       0.0    45.000000         1.0
Alice Cooper            1972-01-01       0.0    66.000000         1.0
Allen Toussaint         1975-01-01       0.0    22.000000         1.0
Amadou & Mariam         2008-11-17       0.0    30.000000         2.0
Amara La Negra          2018-02-20       0.0    46.000000         1.0
Angel Haze              2012-01-01       1.0    52.000000         4.0
Angel Olsen             2016-09-02       0.0    50.000000         1.0
Anita O'Day             1941-01-01       0.0    44.000000         4.0
                        1955-01-01       0.0    48.000000         4.0
                        1961-03-14       0.0    45.000000         4.0
                        2015-02-12       0.0    57.000000         4.0
Antonio Vivaldi         2014-01-01       0.0    63.000000         2.0
...                                      ...          ...         ...
Whitney Houston         2006-05-02       0.0    55.000000         2.0
Wilbert Harrison        2007-10-09       0.0     6.000000         2.0
Willam                  2013-04-18       0.0    40.000000         2.0
                        2015-06-02       0.0    40.000000         2.0
Willie Mitchell         2014-01-01       0.0    39.000000         1.0
Willow                  2010-10-26       0.0     3.000000         1.0
Wilson Pickett          1966-01-01       0.0    42.000000         3.0
                        2017-11-24       0.0    35.500000         3.0
Wolfgang Amadeus Mozart 1995-11-01       0.0    68.000000         4.0
                        2004-01-01       0.0    64.000000         4.0
                        2006-06-05       0.0    62.000000         4.0
                        2011-02-08       0.0    48.000000         4.0
Wynona Carr             1993-01-01       0.0    42.000000         1.0
Wynonie Harris          2014-04-19       0.0    39.000000         1.0
XXXTENTACION            2018-10-25       1.0    89.000000         2.0
Yeah Yeah Yeahs         2002-01-01       0.0    30.000000        11.0
                        2003-04-29       0.0    43.500000        11.0
                        2004-01-01       0.0    12.000000        11.0
                        2006-01-01       0.0    42.000000        11.0
                        2009-01-01       0.0    47.000000        11.0
                        2017-09-19       0.0    30.000000        11.0
Zebra Katz              2016-03-08       0.0    31.000000         2.0
alt-J                   2017-06-02       0.0    58.000000         2.0
cupcakKe                2018-01-05       0.0    36.000000         7.0
the bird and the bee    2008-01-01       0.0    43.000000         4.0
                        2010-01-01       0.0    42.000000         4.0
together PANGEA         2018-06-29       0.0    48.000000         2.0
Édith Piaf              1987-10-31       0.0    49.333333         8.0
                        2013-01-01       0.0    37.000000         8.0
                        2017-12-15       0.0    36.500000         8.0

                                    songfreq  datefreq
Artist                  Rdate
!!!                     2017-03-22  2.000000       2.0
2Pac                    2014-11-07  1.000000       4.0
Aaron Copland           1960-01-01  1.000000       4.0
Adam Joseph             2017-05-03  1.000000       1.0
Adore Delano            2014-06-03  1.000000       1.0
Adrianne Lenker         2018-10-05  1.000000       2.0
Agnes Obel              2013-01-01  1.000000       8.0
Ah-Mer-Ah-Su            2017-02-26  2.000000       2.0
Aja                     2017-02-02  1.000000       1.0
                        2017-04-21  1.000000       1.0
                        2018-03-01  1.000000       1.0
                        2018-05-07  1.000000       1.0
                        2018-10-17  1.000000       1.0
Al B. Sure!             1988-04-26  1.000000       1.0
Alabama Shakes          2012-01-01  2.000000       9.0
                        2015-04-21  1.000000       3.0
Alaska Thunderfuck      2015-06-23  1.000000       2.0
                        2016-10-14  1.000000       2.0
Alban Berg              2012-01-01  1.000000       9.0
Alice Cooper            1972-01-01  1.000000       3.0
Allen Toussaint         1975-01-01  1.000000       2.0
Amadou & Mariam         2008-11-17  2.000000       2.0
Amara La Negra          2018-02-20  1.000000       1.0
Angel Haze              2012-01-01  4.000000       9.0
Angel Olsen             2016-09-02  1.000000       2.0
Anita O'Day             1941-01-01  1.000000       1.0
                        1955-01-01  1.000000       1.0
                        1961-03-14  1.000000       1.0
                        2015-02-12  1.000000       1.0
Antonio Vivaldi         2014-01-01  1.000000       7.0
...                                      ...       ...
Whitney Houston         2006-05-02  1.000000       1.0
Wilbert Harrison        2007-10-09  2.000000       3.0
Willam                  2013-04-18  1.000000       1.0
                        2015-06-02  1.000000       3.0
Willie Mitchell         2014-01-01  1.000000       7.0
Willow                  2010-10-26  1.000000       1.0
Wilson Pickett          1966-01-01  1.000000       1.0
                        2017-11-24  1.000000       2.0
Wolfgang Amadeus Mozart 1995-11-01  1.000000       1.0
                        2004-01-01  1.000000       6.0
                        2006-06-05  1.000000       1.0
                        2011-02-08  1.000000       1.0
Wynona Carr             1993-01-01  1.000000       3.0
Wynonie Harris          2014-04-19  1.000000       1.0
XXXTENTACION            2018-10-25  2.000000       2.0
Yeah Yeah Yeahs         2002-01-01  2.000000       8.0
                        2003-04-29  2.000000       2.0
                        2004-01-01  1.000000       6.0
                        2006-01-01  2.000000       8.0
                        2009-01-01  1.666667       6.0
                        2017-09-19  1.000000       1.0
Zebra Katz              2016-03-08  2.000000       2.0
alt-J                   2017-06-02  2.000000       6.0
cupcakKe                2018-01-05  3.571429       8.0
the bird and the bee    2008-01-01  2.000000       5.0
                        2010-01-01  2.000000       7.0
together PANGEA         2018-06-29  2.000000       5.0
Édith Piaf              1987-10-31  1.000000       3.0
                        2013-01-01  1.000000       8.0
                        2017-12-15  1.000000       4.0

[586 rows x 5 columns]

### 5. Division 2 - Artist by Year datetime
#### art_desc_dt

##### Artists Avg Stats each year - per datetime[YYYY]
(explicit content, popularity, artsongcnt, songfreq, date freq)

In [105]:
art_desc_dt = dategroup.groupby(['Artist', 'Rdate'])
art_desc_dt.mean()

                               Explicit  Tpopularity  artsongcnt  songfreq  \
Artist                  Rdate
!!!                     2017        0.0    38.000000         2.0  2.000000
2Pac                    2014        1.0    43.000000         1.0  1.000000
Aaron Copland           1960        0.0    50.000000         1.0  1.000000
Adam Joseph             2017        0.0    40.000000         1.0  1.000000
Adore Delano            2014        1.0    49.000000         1.0  1.000000
Adrianne Lenker         2018        0.0    58.000000         1.0  1.000000
Agnes Obel              2013        0.0    53.000000         1.0  1.000000
Ah-Mer-Ah-Su            2017        0.0     5.000000         2.0  2.000000
Aja                     2017        0.5    48.000000         5.0  1.000000
                        2018        1.0    43.000000         5.0  1.000000
Al B. Sure!             1988        0.0    53.000000         1.0  1.000000
Alabama Shakes          2012        0.0    52.000000         4.0  2.000000
                        2015        0.0    43.333333         4.0  1.000000
Alaska Thunderfuck      2015        0.0    46.500000         4.0  1.000000
                        2016        1.0    48.000000         4.0  1.000000
Alban Berg              2012        0.0    45.000000         1.0  1.000000
Alice Cooper            1972        0.0    66.000000         1.0  1.000000
Allen Toussaint         1975        0.0    22.000000         1.0  1.000000
Amadou & Mariam         2008        0.0    30.000000         2.0  2.000000
Amara La Negra          2018        0.0    46.000000         1.0  1.000000
Angel Haze              2012        1.0    52.000000         4.0  4.000000
Angel Olsen             2016        0.0    50.000000         1.0  1.000000
Anita O'Day             1941        0.0    44.000000         4.0  1.000000
                        1955        0.0    48.000000         4.0  1.000000
                        1961        0.0    45.000000         4.0  1.000000
                        2015        0.0    57.000000         4.0  1.000000
Antonio Vivaldi         2014        0.0    63.000000         2.0  1.000000
                        2018        0.0    42.000000         2.0  1.000000
Aquaria                 2018        0.0    38.000000         1.0  1.000000
Aretha Franklin         1967        0.0    73.000000         1.0  1.000000
...                                 ...          ...         ...       ...
Whitney Houston         2006        0.0    55.000000         2.0  1.000000
Wilbert Harrison        2007        0.0     6.000000         2.0  2.000000
Willam                  2013        0.0    40.000000         2.0  1.000000
                        2015        0.0    40.000000         2.0  1.000000
Willie Mitchell         2014        0.0    39.000000         1.0  1.000000
Willow                  2010        0.0     3.000000         1.0  1.000000
Wilson Pickett          1966        0.0    42.000000         3.0  1.000000
                        2017        0.0    35.500000         3.0  1.000000
Wolfgang Amadeus Mozart 1995        0.0    68.000000         4.0  1.000000
                        2004        0.0    64.000000         4.0  1.000000
                        2006        0.0    62.000000         4.0  1.000000
                        2011        0.0    48.000000         4.0  1.000000
Wynona Carr             1993        0.0    42.000000         1.0  1.000000
Wynonie Harris          2014        0.0    39.000000         1.0  1.000000
XXXTENTACION            2018        1.0    89.000000         2.0  2.000000
Yeah Yeah Yeahs         2002        0.0    30.000000        11.0  2.000000
                        2003        0.0    43.500000        11.0  2.000000
                        2004        0.0    12.000000        11.0  1.000000
                        2006        0.0    42.000000        11.0  2.000000
                        2009        0.0    47.000000        11.0  1.666667
                        2017        0.0    30.000000        11.0  1.000000
Zebra Katz              2016        0.0    31.000000         2.0  2.000000
alt-J                   2017        0.0    58.000000         2.0  2.000000
cupcakKe                2018        0.0    36.000000         7.0  3.571429
the bird and the bee    2008        0.0    43.000000         4.0  2.000000
                        2010        0.0    42.000000         4.0  2.000000
together PANGEA         2018        0.0    48.000000         2.0  2.000000
Édith Piaf              1987        0.0    49.333333         8.0  1.000000
                        2013        0.0    37.000000         8.0  1.000000
                        2017        0.0    36.500000         8.0  1.000000

                               datefreq
Artist                  Rdate
!!!                     2017        2.0
2Pac                    2014        4.0
Aaron Copland           1960        4.0
Adam Joseph             2017        1.0
Adore Delano            2014        1.0
Adrianne Lenker         2018        2.0
Agnes Obel              2013        8.0
Ah-Mer-Ah-Su            2017        2.0
Aja                     2017        1.0
                        2018        1.0
Al B. Sure!             1988        1.0
Alabama Shakes          2012        9.0
                        2015        3.0
Alaska Thunderfuck      2015        2.0
                        2016        2.0
Alban Berg              2012        9.0
Alice Cooper            1972        3.0
Allen Toussaint         1975        2.0
Amadou & Mariam         2008        2.0
Amara La Negra          2018        1.0
Angel Haze              2012        9.0
Angel Olsen             2016        2.0
Anita O'Day             1941        1.0
                        1955        1.0
                        1961        1.0
                        2015        1.0
Antonio Vivaldi         2014        7.0
                        2018        2.0
Aquaria                 2018        5.0
Aretha Franklin         1967        1.0
...                                 ...
Whitney Houston         2006        1.0
Wilbert Harrison        2007        3.0
Willam                  2013        1.0
                        2015        3.0
Willie Mitchell         2014        7.0
Willow                  2010        1.0
Wilson Pickett          1966        1.0
                        2017        2.0
Wolfgang Amadeus Mozart 1995        1.0
                        2004        6.0
                        2006        1.0
                        2011        1.0
Wynona Carr             1993        3.0
Wynonie Harris          2014        1.0
XXXTENTACION            2018        2.0
Yeah Yeah Yeahs         2002        8.0
                        2003        2.0
                        2004        6.0
                        2006        8.0
                        2009        6.0
                        2017        1.0
Zebra Katz              2016        2.0
alt-J                   2017        6.0
cupcakKe                2018        8.0
the bird and the bee    2008        5.0
                        2010        7.0
together PANGEA         2018        5.0
Édith Piaf              1987        3.0
                        2013        8.0
                        2017        4.0

[559 rows x 5 columns]

### 6. Division 3 - Year --  avg stats
#### dt_desc

#### Avg stats per YEAR
(explicit content, popularity, artsongcnt, songfreq, date freq)

In [112]:
dt_desc = dategroup.groupby(['Rdate'])
dt_desc.mean()

       Explicit  Tpopularity  artsongcnt  songfreq   datefreq
Rdate
1933   0.000000    42.666667    7.000000  1.000000   3.000000
1937   0.000000    55.000000    1.000000  1.000000   1.000000
1941   0.000000    44.000000    4.000000  1.000000   1.000000
1955   0.000000    48.000000    4.000000  1.000000   1.000000
1956   0.000000    43.800000    6.200000  1.000000   6.800000
1957   0.000000    46.600000    5.000000  1.600000   5.000000
1958   0.000000    52.000000    4.000000  1.000000   1.666667
1959   0.000000    60.500000    2.500000  1.000000   2.000000
1960   0.000000    53.500000    2.500000  1.000000   4.000000
1961   0.000000    45.000000    4.000000  1.000000   1.000000
1962   0.000000    67.000000    2.666667  1.666667   1.666667
1963   0.000000    40.500000    2.500000  1.000000   2.000000
1964   0.000000    45.333333    2.000000  1.000000   3.000000
1966   0.000000    42.000000    3.000000  1.000000   1.000000
1967   0.000000    58.666667    1.666667  1.000000   1.000000
1969   0.000000    63.000000    2.000000  2.000000   2.000000
1970   0.000000    37.000000    2.666667  1.666667   3.000000
1972   0.000000    41.333333    1.666667  1.000000   3.000000
1973   0.000000    40.500000    1.000000  1.000000   1.000000
1974   0.000000    42.000000    7.000000  1.000000   1.000000
1975   0.000000    24.500000    1.500000  1.000000   2.000000
1976   0.000000    62.000000    4.000000  1.000000   1.000000
1977   0.000000    47.000000    2.666667  1.666667   1.666667
1978   0.000000    20.000000    1.500000  1.500000   1.000000
1979   0.200000    32.800000    3.600000  1.400000   3.400000
1980   0.000000    47.500000    1.500000  1.000000   2.000000
1981   0.000000    46.333333    1.666667  1.333333   2.333333
1982   0.000000    13.000000    1.000000  1.000000   1.000000
1983   0.363636    51.363636    7.636364  2.272727  11.000000
1984   0.000000    47.600000    2.200000  1.400000   3.400000
...         ...          ...         ...       ...        ...
1990   0.000000    47.000000    2.444444  1.111111   2.333333
1991   0.133333    52.533333    7.800000  1.266667   4.466667
1992   0.166667    39.166667    1.666667  1.333333   2.333333
1993   0.000000    44.125000   37.500000  1.250000   4.125000
1994   0.000000    47.555556    1.888889  1.222222   3.222222
1995   0.157895    40.842105   27.263158  1.315789   9.421053
1996   0.117647    31.352941   34.941176  1.000000  13.352941
1997   0.000000    35.681818   32.681818  1.090909  15.000000
1998   0.000000    42.250000    1.000000  1.000000   2.500000
1999   0.000000    31.947368   34.157895  1.210526  11.631579
2000   0.125000    45.375000    5.625000  1.250000   3.750000
2001   0.250000    59.750000    1.500000  1.500000   2.750000
2002   0.250000    49.312500    4.750000  2.125000   5.250000
2003   0.250000    42.375000    3.687500  1.250000   2.250000
2004   0.000000    39.214286    3.714286  1.428571   3.857143
2005   0.000000    46.250000    2.375000  1.500000   2.750000
2006   0.111111    42.444444    2.833333  1.444444   4.333333
2007   0.121951    24.268293    4.121951  1.341463  11.878049
2008   0.047619    38.476190    4.000000  1.571429   3.571429
2009   0.000000    37.038462   41.884615  1.230769   5.384615
2010   0.125000    45.375000    4.312500  1.500000   3.625000
2011   0.083333    35.083333   12.305556  1.444444   5.277778
2012   0.200000    42.760000    6.800000  1.880000   4.200000
2013   0.125000    25.541667    3.250000  1.416667   3.583333
2014   0.382979    46.744681   29.595745  1.765957   6.531915
2015   0.360656    40.786885    8.573770  1.672131   2.967213
2016   0.589286    50.000000   14.714286  2.071429   3.607143
2017   0.288732    47.126761   26.021127  1.697183   6.633803
2018   0.500000    52.762712    6.059322  1.779661   3.372881
2019   0.571429    57.285714   19.857143  1.285714   2.142857

[65 rows x 5 columns]